USE [master]
GO
/****** Object:  Database [SwimMood]    Script Date: 09/11/2022 00:02:39 ******/
CREATE DATABASE [SwimMood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SwimMood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SwimMood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SwimMood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SwimMood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SwimMood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SwimMood]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPool] [int] NOT NULL,
	[NameCours] [nvarchar](50) NULL,
	[PeopleAmount] [int] NULL,
	[Dis] [nvarchar](50) NULL,
	[IdUser] [int] NOT NULL,
	[Status] [bit] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursToCustomer]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursToCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdCours] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_CoursToCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerToPool]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerToPool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPackage] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[AmountLeft] [int] NULL,
	[AmountGet] [int] NULL,
	[TotalPrice] [int] NULL,
	[DateBuy] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_CustomerToPool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameDay] [nvarchar](50) NULL,
 CONSTRAINT [PK_Days] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysToCours]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysToCours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCours] [int] NOT NULL,
	[IdDays] [int] NOT NULL,
	[StartHour] [time](7) NULL,
	[EndHour] [time](7) NULL,
	[Type] [bit] NULL,
	[IdPool] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_DaysToCours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysToPool]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysToPool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPool] [int] NOT NULL,
	[IdDays] [int] NOT NULL,
	[StartHour] [time](7) NULL,
	[EndHour] [time](7) NULL,
	[Type] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_DaysToPool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnterCustomer]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPool] [int] NOT NULL,
	[EnterDate] [date] NULL,
	[IdCustomerToPool] [int] NOT NULL,
	[StartHour] [time](7) NULL,
	[EndHour] [time](7) NULL,
	[NumPeople] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_EnterCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Erea]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Erea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Erea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPool] [int] NOT NULL,
	[EntersAmount] [int] NULL,
	[Price] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pool]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Amount] [int] NULL,
	[IdUser] [int] NOT NULL,
	[IdErea] [int] NOT NULL,
	[Phone] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[Pic] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPool] [int] NOT NULL,
	[Dis] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[EnterAmount] [int] NULL,
	[Price] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09/11/2022 00:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Type] [bit] NULL,
	[IdRole] [int] NOT NULL,
	[LastEntery] [date] NULL,
	[Phone] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Pool]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[CoursToCustomer]  WITH CHECK ADD  CONSTRAINT [FK_CoursToCustomer_Course] FOREIGN KEY([IdCours])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[CoursToCustomer] CHECK CONSTRAINT [FK_CoursToCustomer_Course]
GO
ALTER TABLE [dbo].[CoursToCustomer]  WITH CHECK ADD  CONSTRAINT [FK_CoursToCustomer_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CoursToCustomer] CHECK CONSTRAINT [FK_CoursToCustomer_User]
GO
ALTER TABLE [dbo].[CustomerToPool]  WITH CHECK ADD  CONSTRAINT [FK_CustomerToPool_packages] FOREIGN KEY([IdPackage])
REFERENCES [dbo].[Packages] ([Id])
GO
ALTER TABLE [dbo].[CustomerToPool] CHECK CONSTRAINT [FK_CustomerToPool_packages]
GO
ALTER TABLE [dbo].[CustomerToPool]  WITH CHECK ADD  CONSTRAINT [FK_CustomerToPool_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CustomerToPool] CHECK CONSTRAINT [FK_CustomerToPool_User]
GO
ALTER TABLE [dbo].[DaysToCours]  WITH CHECK ADD  CONSTRAINT [FK_DaysToCours_Course] FOREIGN KEY([IdCours])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[DaysToCours] CHECK CONSTRAINT [FK_DaysToCours_Course]
GO
ALTER TABLE [dbo].[DaysToCours]  WITH CHECK ADD  CONSTRAINT [FK_DaysToCours_Days] FOREIGN KEY([IdDays])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[DaysToCours] CHECK CONSTRAINT [FK_DaysToCours_Days]
GO
ALTER TABLE [dbo].[DaysToCours]  WITH CHECK ADD  CONSTRAINT [FK_DaysToCours_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[DaysToCours] CHECK CONSTRAINT [FK_DaysToCours_Pool]
GO
ALTER TABLE [dbo].[DaysToPool]  WITH CHECK ADD  CONSTRAINT [FK_DaysToPool_Days] FOREIGN KEY([IdDays])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[DaysToPool] CHECK CONSTRAINT [FK_DaysToPool_Days]
GO
ALTER TABLE [dbo].[DaysToPool]  WITH CHECK ADD  CONSTRAINT [FK_DaysToPool_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[DaysToPool] CHECK CONSTRAINT [FK_DaysToPool_Pool]
GO
ALTER TABLE [dbo].[EnterCustomer]  WITH CHECK ADD  CONSTRAINT [FK_EnterCustomer_CustomerToPool] FOREIGN KEY([IdCustomerToPool])
REFERENCES [dbo].[CustomerToPool] ([Id])
GO
ALTER TABLE [dbo].[EnterCustomer] CHECK CONSTRAINT [FK_EnterCustomer_CustomerToPool]
GO
ALTER TABLE [dbo].[EnterCustomer]  WITH CHECK ADD  CONSTRAINT [FK_EnterCustomer_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[EnterCustomer] CHECK CONSTRAINT [FK_EnterCustomer_Pool]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_packages_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_packages_Pool]
GO
ALTER TABLE [dbo].[Pool]  WITH CHECK ADD  CONSTRAINT [FK_Pool_Erea] FOREIGN KEY([IdErea])
REFERENCES [dbo].[Erea] ([Id])
GO
ALTER TABLE [dbo].[Pool] CHECK CONSTRAINT [FK_Pool_Erea]
GO
ALTER TABLE [dbo].[Pool]  WITH CHECK ADD  CONSTRAINT [FK_Pool_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Pool] CHECK CONSTRAINT [FK_Pool_User]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Pool] FOREIGN KEY([IdPool])
REFERENCES [dbo].[Pool] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Pool]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
